@(item: layout.ContentCard, containerIndex: Int, index: Int, visibilityDataAttribute: String, isFirstContainer: Boolean, isList: Boolean)(implicit request: RequestHeader)

@import layout.{FaciaWidths, FrontendLatestSnap}
@import model.{CrosswordSvg, InlineImage, InlineSlideshow, InlineVideo, InlineYouTubeMediaAtom, VideoPlayer}
@import views.html.fragments.items.elements.facia_cards._
@import views.html.fragments.items.elements.starRating
@import views.html.fragments.items.facia_cards.meta
@import views.html.fragments.atoms.youtube
@import views.html.fragments.media.video
@import views.support.{CutOut, GetClasses, RemoveOuterParaHtml, RenderClasses, Video640}
@import Function.const

<div class="@GetClasses.forItem(item, isFirstContainer) @item.cardTypes.classes @if(!item.hasInlineSnapHtml) {js-snappable}"
     @if(item.discussionSettings.isCommentable) {
        @item.discussionSettings.discussionId.map { id =>
            data-discussion-id="@id"
        }
        data-discussion-closed="@item.discussionSettings.isClosedForComments"
        data-discussion-url="@item.header.url.get(request)#comments"
    }
    data-link-name="@item.analyticsPrefix | card-@{ index + 1 }"
    data-item-visibility="@visibilityDataAttribute"
    data-test-id="facia-card"
    @item.id.map { id => data-id="@id" }
    @item.snapStuff.map(_.dataAttributes)
    @item.shortUrl.map { shortUrl => data-loyalty-short-url="@shortUrl" }>

    @if(!item.hasInlineSnapHtml) {
        @container(item)
    }
    @if(item.hasInlineSnapHtml) {
    }
</div>

@container(item: layout.ContentCard) = {
    <div class="fc-item__container">
        @if(item.snapStuff.map(_.snapType).contains(FrontendLatestSnap)) {
            <!-- DREAM SNAP -->
            @kicker(item.header, List("fc-item__kicker--dreamsnap", "fc-item__kicker--dreamsnap-list"))
        }
    </div>
}
