.fc-sublink {
    position: relative;
    padding-top: $gs-baseline * .25;
    margin: 0;

    a {
        display: block;
        // make sure sublink always clickable, even on mobile/tablet
        z-index: 1 !important;
    }
}

.fc-sublink__title {
    @include fs-headline(1);
    color: $neutral-1;
    margin: 0;
    padding: 0;

    &:before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 40%;
        border-top: 1px solid $neutral-3;
    }

    .fc-sublink__kicker {
        font-weight: 500;
        float: left;
        margin-right: .2em;
    }
}

@mixin fc-sublinks--horizontal {
    .fc-sublinks {
        display: flex;
    }

    .fc-sublink {
        flex: 1 1 100%;
        margin-top: $gs-baseline;
        margin-bottom: $gs-baseline * .75;

        & + * {
            margin-left: $gs-gutter * .5;
        }
    }

    .fc-sublink:first-child {
        .fc-sublink__title {
            margin-left: $gs-gutter * .25;
            box-sizing: content-box;

            &:before {
                left: $gs-gutter * .25;
            }
        }
    }
}

@mixin fc-sublinks--below {
    .fc-item__footer--vertical {
        display: none;
    }

    .fc-item__footer--horizontal {
        display: block;
    }

    @include fc-sublinks--horizontal;
}
