.subnav {
    background-color: #ffffff;
    border-bottom: 1px solid $neutral-5;
    color: $neutral-1;
    min-height: $veggie-burger-small - ($gs-baseline / 2);
    overflow: hidden;
    padding: 0 $gs-gutter / 2;
    position: relative;

    @include mq(mobileMedium) {
        min-height: $veggie-burger-medium - $gs-baseline;
    }

    @include mq(mobileLandscape) {
        padding: 0;
    }

    .l-footer & {
        border-top: 1px solid $neutral-5;
    }
}

// TODO: reset list-style mixin
.subnav__list {
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;

    @include mq(mobileLandscape) {
        padding-left: $gs-gutter;
        padding-right: $gs-gutter;
    }

    @include mq(desktop) {
        padding-right: $gs-column-width * 3;
    }
}

.subnav__item {
    display: block;
    float: left;
}
