.subnav-link {
    @include fs-textSans(5);
    border-bottom: 0 solid $neutral-3;
    box-sizing: border-box;
    color: $neutral-1;
    display: block;
    font-size: 16px;
    height: $veggie-burger-small - ($gs-baseline / 2);
    line-height: $veggie-burger-small - ($gs-baseline / 2);
    padding: 0 ($gs-gutter / 4);
    position: relative;
    transition: border 150ms ease-out;

    &:before {
        border-left: 1px solid $neutral-4;
        bottom: -3px;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        top: $gs-baseline;
    }

    @include mq(mobileMedium) {
        height: $veggie-burger-medium - $gs-baseline;
        line-height: $veggie-burger-medium - $gs-baseline;
    }

    @include mq(tablet) {
        height: 42px;
        line-height: 42px;
        padding: 0 ($gs-gutter / 2 + $gs-gutter / 4) 0 ($gs-gutter / 4);

        &:before {
            top: 18px;
        }
    }

    &:hover,
    &:focus {
        border-width: 3px;
        color: $neutral-1;
        text-decoration: none;
    }

    .subnav__item:first-child > & {
        padding-left: 0;

        &:before {
            content: none;
        }
    }
}

.subnav-link--toggle-more {
    background: transparent;
    border: 0;
    color: $neutral-2;

    &:before {
        content: none;
    }
}

.subnav-link--current-section {
    border-width: 3px;
    font-weight: 700;
}
