.subnav {
    background-color: #ffffff;
    color: $neutral-1;
    overflow: hidden;
    padding: 0 $gs-gutter / 2;
    position: relative;

    @include mq(mobileLandscape) {
        padding: 0;
    }

    @include mq(desktop) {
        padding-top: $gs-baseline / 4;
        border-bottom: 1px solid $neutral-5;
    }

    @include mq($until: tablet) {
        &:after {
            // Dividing line
            content: '';
            border-bottom: 1px solid $neutral-5;
            display: block;
            left: $gs-gutter / 2;
            position: absolute;
            right: 0;
            top: 33px;
        }
    }
}

// TODO: reset list-style mixin
.subnav__list {
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;

    @include mq(mobileLandscape) {
        padding-left: $gs-gutter;
        padding-right: $gs-gutter;
    }

    @include mq(desktop) {
        padding-right: $gs-column-width * 3;
    }
}

.subnav__item {
    display: block;
    float: left;
}
